.offline{
  color: red;
}

.online{
  color: green !important;
}

.tradesTable .panel.with-scroll .panel-body{
    height: calc(120%);
}

.tradesTable .table-panel{
  height: auto;
}

.form-group .cash-control{
  width: 42%;
}

.timer label{
  width: 100%;
}
